@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato&family=Roboto&display=swap");
body {
  font-size: 16px;
  font-family: "robotoregular", serif, sans-serif;
}

#bloc-page {
  margin: 100px;
  width: 1440px;
}

h1 {
  text-align: center;
  color: #ed6454;
  font-size: 36px;
  font-family: "DM Sans", sans-serif;
  text-transform: capitalize;
}

h2 {
  font-size: 1.4em;
  text-transform: capitalize;
}

.logo {
  width: 100%;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo__img {
  height: 25px;
}

#search-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 69px;
  border-radius: 5px;
  background-color: #e7e7e7;
  padding: 0 15px 0 15px;
}

.search-text {
  width: 500px;
  font-size: 18px;
  font-style: normal;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  border: 0;
  background: none;
}

#tag-area {
  margin-top: 25px;
  margin-bottom: 15px;
}

.tag {
  width: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #3282f7;
  font-size: 14px;
  font-style: normal;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  color: #ffffff;
  border-radius: 5px;
  padding: 10px 30px 10px 10px;
}

.tag__icon {
  width: 20px;
  height: 20px;
}

#filter-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* -ms-flex-wrap: wrap; */
  /* flex-wrap: wrap; */
}

.filter {
  margin-top: 20px;
}

.filter__text {
  font-weight: 700;
  font-family: "Lato", sans-serif;
}

.btn-filter {
  width: 171px;
  height: 69px;
  border-radius: 5px;
  margin: 0;
  margin-right: 35px;
  color: #ffffff;
  border: none;
  cursor: pointer;
}

.btn-ingredients {
  background: #3282f7;
}

#ingredients-search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.ingredients {
  margin-right: 20px;
}

.btn-appliance {
  background-color: #68d9a4;
}

.btn-ustensils {
  background-color: #ed6454;
}

.icon {
  margin-left: 20px;
}

#recipes-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style-type: none;
  padding: 0;
}



.recipe-block {
  width: 380px;
  height: 364px;
  background-color: #e7e7e7;
  border-radius: 5px;
  padding: 0;
  margin-top: 50px;
  margin-right: 40px;
}

.recipe-block__img {
  width: 380px;
  height: 178px;
  background-color: #c7bebe;
  border-radius: 5px 5px 0 0;
}

.recipe__titleTime {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 20px 0 20px;
  font-family: lato;
}

.recipe__titleTime__title {
  max-width: 250px;
  font-size: 18px;
  font-weight: 400;
}

.recipe__titleTime__time {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 18px;
  font-weight: 700;
}

.recipe__titleTime__time--icon {
  padding-right: 10px;
}

.ingredients-description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-right: 18px;
  margin-left: 20px;
}

.ingredients-list {
  width: 171px;
  height: 105px;
  padding: 0;
}

.ingredient {
  list-style: none;
  padding: 0;
  padding-right: 5px;
  font-size: 12px;
  font-family: "lato", sans-serif;
  font-weight: 700;
}

.ingredient__quantity, .ingredient__unit {
  font-weight: 400;
}

.description {
  width: 175px;
  height: 100px;
  font-size: 12px;
  font-family: "roboro", sans-serif;
  padding: 0;
  margin: 0;
  overflow: hidden;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: 0;
}

.description__text {
  width: 175px;
  height: 109px;
  margin: 0;
}
/*# sourceMappingURL=style.css.map */

#ustensile-list {
  display: none;
  list-style: none;
}

#appliance-list {
  display: none;
  list-style: none;

}

#ingredient-list {
  display: none;
  list-style: none;
}

.fa-chevron-up {
  display: none;
}

.fa-chevron-down {
  display: none;
}
